# Movie Recommendation System Data Project
If you have ever been on an online streaming platform like Netflix, Amazon Prime, Voot etc, you might have noticed that after watching a movie, the platform starts recommending you different movies and TV shows. You might wonder why this happens. Well, this happens because these online streaming platforms have recommendation systems that are capable of learning your watching patterns and providing you with relevant suggestions. These are the advancements of this fourth industrial revolution where Artificial Intelligence and other technologies are dominating the market.

In this data project, we shall try to build our own movie recommendation system using Machine Learning. The main goal is to build a recommendation engine that recommends movies to users. We will be developing an Item Based Collaborative Filter.

## Dataset
In this project, we shall use the 'MovieLens' data from DataFlair website. The data contains 'movies.csv' and 'ratings.csv' datasets. This data consists of 105339 ratings applied over 10329 movies. T

## Preparing the data

In [1]:
# import data analysis modules to work with
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# import data visualization modules to woek with
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

C:\Users\BEN KOLE\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# load the movies and ratings datasets and set as dataframes
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')

In [3]:
# preview the movies dataframe
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies_df.shape

(10329, 3)

In [5]:
# preview the ratings dataframe
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [6]:
ratings_df.shape

(105339, 4)